body {
  background-color: skyblue;
  background-image: url('./images/sky.jpg');
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}
.mainLight {
  margin-top: 2%;
  width: 200px;
  height: 400px;
  background-color: #151515;
  border-radius: 10px;
  border: 2px solid black;
}
.stickLight {
  width: 50px;
  height: 250px;
  background-color: #151515;
}
.walkLightOff {
  position: absolute;
  bottom: 10%;
  background-color: #151515;
  border: 2px solid black;
  width: 150px;
  height: 120px;
  color: black;
  font-size: 40px;
  border-radius: 10px;
  font-weight: 800;
}
.walkLight {
  position: absolute;
  bottom: 10%;
  background-color: limegreen;
  border: 2px solid black;
  width: 150px;
  height: 120px;
  color: black;
  font-size: 40px;
  border-radius: 10px;
  font-weight: 800;
  text-shadow: 0 0 3px limegreen;
}
.stopLight {
  position: absolute;
  bottom: 10%;
  background-color: red;
  border: 2px solid black;
  width: 150px;
  height: 120px;
  color: black;
  font-size: 40px;
  border-radius: 10px;
  font-weight: 800;
  text-shadow: 0 0 3px red;
}
.redOff {
  background-color: red;
  opacity: 0.6;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  border-radius: 100%;
  background-image: radial-gradient(black, transparent);
  background-size: 8px 8px;
  border: 2px solid black;
}
.yellowOff {
  background-color: orangered;
  opacity: 0.6;
  width: 100px;
  height: 100px;
  margin-top: 25px;
  border-radius: 100%;
  background-image: radial-gradient(black, transparent);
  background-size: 8px 8px;
  border: 2px solid black;
}
.greenOff {
  background-color: green;
  opacity: 0.6;
  width: 100px;
  height: 100px;
  margin-top: 25px;
  border-radius: 100%;
  background-image: radial-gradient(black, transparent);
  background-size: 8px 8px;
  border: 2px solid black;
}
.pointer {cursor: pointer;}
.notAllowed {cursor: not-allowed;}

.red {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  border-radius: 100%;
  background-color: red;
  border: 2px solid black;
  box-shadow: 0 0 60px red;
}
.yellow {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  border-radius: 100%;
  background-color: orange;
  border: 2px solid black;
  box-shadow: 0 0 60px orange;
}
.green {
  width: 100px;
  height: 100px;
  margin-top: 25px;
  border-radius: 100%;
  background-color: greenyellow;
  border: 2px solid black;
  box-shadow: 0 0 60px greenyellow;
}

.autoBox {
  width: 100px;
  height: 150px;
  position: fixed;
  bottom: 0px;
  left: 10px;
  background-color: #151515;
  border-top: 2px dotted blue;
  border-right: 2px dotted blue;
  border-left: 2px dotted blue;
  border-radius: 10px 10px 0 0;
}
.system {
  width: 80%;
  height: 30px;
  background-color: grey;
  margin-top: 10px;
  cursor: pointer;
}
.system:hover {
  opacity: 0.3;
  color: white;
}
.systemOn {
  width: 80%;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
  background-color: green;
  color: black;
}
.systemOn:hover {
  cursor: no-drop;
}